body {
    background-color: white;
}

nav {
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 25px
}

h1 {
    color: white;
    text-align: center;
}

.dashed {
         outline-style: dashed;
         outline-width: medium;
    
}

p {
    font-family: verdana;
    font-size: 25px;
}

article {
 flex: 100
}

ul {
    list-style-type: none;
    margin: 100;
    padding: 400;
    overflow: hidden; /* Enable scrolling if the sidenav has too much content */
}


ul a {
    display: block;
    color: #000;
    padding: 16px 32px;
    text-decoration: none;
}

li{
    display: inline-block;
    float: none;
    vertical-align: top;
    /*display: inline;*/
    background-color: rgba(0, 0, 0, 0.01);
}

li .active {
    background-color: rgba(0, 0, 0, 0.05);
    color: white;
}
/*
this for the mouse put on it the gray one
*/
li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.item1 { grid-area: header;
  background-color: rgba(66, 233, 245, 0.2);
  text-align: center;
  padding: 150px 0;
  font-size: 20px;
}
.item2 { grid-area: left;
  background-image: url(https://i.pinimg.com/564x/91/c5/5f/91c55fae6d6463b79bc6e137e0d097f6.jpg);
  text-align: center;
  padding: 150px 0;
  font-size: 30px;
}
.item3 { grid-area: footer;
 background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 1px 0;
  font-size: 20px;
  width: 100%;
  height: 30px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'left left header header header header'
    'left left header header header header'
    'footer footer footer footer footer footer';
  grid-gap: 4px;
  background-color: rgba(0, 0, 0, 0.01);
}
